{% extends "persons/base.html" %}

{% block head %}
    
{% endblock %}

{% block content %}
<style>
  body {
      background: url('https://images.unsplash.com/photo-1470229722913-7c0e2dbbafd3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
      background-size: cover;
  }

  h1 {
      font-size: 2.5em;
      color: #333;
      text-align: left;
      margin-top: 20px;
      margin-left: 20px;
  }

  .top-up-card {
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
      max-width: 300px;
      margin: 20px;
      float: right;
      margin-right: 20px;
  }

  .top-up-card form {
      display: flex;
      flex-direction: column;
  }

  .top-up-card button {
      margin-top: 10px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #007bff;
      color: #fff;
      font-size: 1em;
      cursor: pointer;
  }

  .top-up-card button:hover {
      background-color: #0056b3;
  }
</style>
    <h1>Top Up Wallet</h1>
    <div class="top-up-card">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Top Up</button>
        </form>
    </div>
{% endblock %}
